{% extends 'base.html' %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}

    {% if posts %}

    {% for post in posts %}
    <div class="container">
            <div class="card">
                <div class="card-body">
                      <h4 class="card-title"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h4>
                      By <span><a class="mr-2" href="#">{{ post.author }}</a></span> | In <span><a href="{% url 'post-by-category' post.category.pk  %}">{{ post.category }}</a></span> | On <span class="text-muted">{{ post.created_on.date }}</span> | &#x1f441 <span>{{ post.view_count }} Views</span>
                      <p class="card-text">{{ post.content | truncatewords:30 }}</p>
                      <a href="#" class="card-link">Card link</a>
                </div>
            </div>
    </div>
    {% endfor %}
    
    {% else %}
    <div>
        <h3>No Post Yet!!!</h3>
        
    </div>
    {% endif %}
    <div>
        {% include 'pagination.html' %}
    </div>
    
{% endblock %}